OODB/src/xsd_files/single_relation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Employee" type="Employee"/>

    <xs:complexType name="Employee">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>